.header {
  background-color: #333;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  color: white;
}

body {
  margin: 0;
  padding: 0;
  background: url("H:\kyrsovai\public\newback.jpg") center/cover no-repeat fixed; /* Замени на путь к фоновому изображению */
  font-family: "Arial", sans-serif;
}

.container {
  max-width: 1200px; /* Ширина контейнера, чтобы не было слишком широко на больших экранах */
  margin: 0 auto; /* Центрируем контейнер по горизонтали */
  padding: 20px;
}

.search-bar {
  flex: 1;
  margin-right: 10px;
  border: 1px solid #ccc; /* Добавим рамку для эффекта поля ввода */
  padding: 5px; /* Добавим небольшой внутренний отступ */
  border-radius: 4px; /* Добавим закругление углов */
}

.search-bar:focus {
  outline: none; /* Уберем обводку при фокусе */
  border-color: #ff0000; /* Изменим цвет рамки при фокусе */
  box-shadow: 0 0 5px rgba(171, 3, 3, 0.5); /* Добавим небольшую тень */
}

/* Header.css */
.logo {
  flex: 1;
  text-align: center;
  font-size: 24px;
  cursor: pointer; /* Добавим стиль курсора */
}

/* Header.css */

.greeting-container {
  text-align: center;
  padding: 20px;
  color: rgb(255, 255, 255);
}

.game-frames-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Распределяем контейнеры равномерно по ширине родителя */
}

.greeting-container p {
  text-align: center;
  color: rgb(241, 240, 236);
  font-size: 28px;
  font-family: "Pacifico", cursive;
}
.game-frame {
  width: calc(33.33% - 20px); /* Для того, чтобы было 3 в ряд с отступами */
  margin-bottom: 20px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.game-frame img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out; /* добавим плавные переходы для transform и box-shadow */
}

.game-frame img:hover {
  transform: scale(1.1); /* увеличим изображение при наведении */
}

/* App.css */
.active {
  /* стили для активной ссылки, например, подчеркивание или изменение цвета */
  font-weight: bold;
}

.li {
  color: #0056b3;
}

li {
  list-style: none; /* Убирает маркеры списка */
}

li a {
  display: inline-block;
  padding: 8px 16px;
  text-decoration: none;
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s; /* Добавляет плавные переходы при изменении цвета */
}

li a:hover {
  background-color: #000000;
  color: #ffffff;
}

li a:active {
  background-color: #ff0000; /* Можете изменить цвет при нажатии на ссылку */
}

.Nazvanie {
  text-decoration: none;
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  transition: color 0.3s;
}

.Nazvanie:hover {
  color: #ff0000;
}

.about-us-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;
}
/*Здесь начинаются все стили с о нас*/
.section {
  margin-bottom: 40px;
}

.top-section {
  text-align: center;
  color: rgb(241, 240, 236);
  font-size: 28px;
  font-family: "Pacifico", cursive;
}

.top-section h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.bottom-section {
  display: flex;
  align-items: center;
}

.left-section {
  flex: 1;
  margin-right: 40px;
}

.left-section img {
  /*Тут короче картинка с страницы about us*/
  max-width: 100%;
  height: auto;
  border: 4px solid #000000;
  opacity: 1;
  filter: blur(0.5px) saturate(0.7);
}

.right-section {
  flex: 1;
}

.right-section h2 {
  font-size: 26px;
  margin-bottom: 10px;
  color: rgb(251, 251, 251);
  font-family: "Pacifico", cursive;
}

.right-section p {
  font-size: 21px;
  color: #f1fff9;
  font-family: "Pacifico", cursive;
}
/*Это всё картинки и текст с главной*/
.content-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.content-block img {
  max-width: 40%; /* Уменьшаем ширину картинки */
  margin-right: 10px;
  height: auto; /* Поддерживаем пропорции */
  opacity: 0.8;
  filter: blur(0.3px) saturate(0.5);
}

.content-block p {
  max-width: 55%;
  font-size: 25px;
  line-height: 1.5;
  color: rgba(255, 255, 255);
  text-align: justify;
  margin-bottom: 10px;
  background-color: rgba(177, 68, 68, 0.5);
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.content-block1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.content-block1 img {
  max-width: 40%; /* Уменьшаем ширину картинки */
  height: auto; /* Поддерживаем пропорции */
  margin-left: 40px;
}

.content-block1 p {
  max-width: 55%;
  font-size: 25px;
  line-height: 1.5;
  color: rgba(255, 255, 255);
  text-align: justify;
  margin-bottom: 10px;
  background-color: rgba(177, 72, 68, 0.5);
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  order: -1; /* Помещаем текст перед картинкой */
}
/*Вся регистрация*/
.registration-container {
  max-width: 400px;
  margin: 100px auto 0;
  padding: 20px;
  background-color: rgba(248, 248, 248, 0.5);
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #050000;
}

.registration-container h2 {
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 6px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 94%;
  padding: 10px;
  border: 1px solid #a99494;
  border-radius: 4px;
}

button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #8e3232;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
/*все стили вашего аккаунта*/
.container-acc {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.rectangle {
  width: 80%;
  height: 80%;
  background-color: #201f1f;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  opacity: 0.8;
  border-radius: 10px;
  padding: 20px;
}

.header-acc {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px; /* Уменьшено расстояние до текста */
  width: 100%;
}

.avatar-acc {
  margin-right: 5px; /* Уменьшено расстояние до текста */
  border-radius: 50%;
  overflow: hidden;
}

.avatar-image-acc {
  width: 300px;
  height: 300px;
}

.user-info-acc {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 20px;
  max-width: 70%;
  color: white;
}

.welcome-text-acc {
  text-align: center;
  margin-top: 20px; /* Добавлен отступ сверху */
}

.games-acc {
  margin-top: 20px;
  color: white;
}

.game-list-acc {
  list-style-type: none;
  padding: 0;
  text-align: left;
}
/*Стили для модального окна*/
/* Стили для модального окна */
.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

/* Стили для содержимого модального окна */
.modal-content {
  background-color: #5e3b3b;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* Стили для кнопки закрытия */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Стили для списка игр */
.game-list {
  list-style: none;
  padding: 0;
  color: #ffffff;
}

/* Стили для кнопки сохранения */
.save-btn {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.save-btn:hover {
  background-color: #45a049;
}

.game-buttons {
  background-color: #ffffff;
  color: rgb(3, 130, 70);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
.selected-games {
  color: #ffffff;
}
